<h1>Blog Posts</h1>
<% @blog_posts.each do |blog_post| %>
  <div>
    <% if blog_post.draft? %>
      <div class="p-2 rounded bg-gray-200 text-gray-900">Draft</div>
    <% elsif blog_post.scheduled? %>
      <div class="p-2 rounded bg-blue-200 text-blue-900">Scheduled</div>
    <% end %>
    <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
    <h2><%= link_to blog_post.title, "/blog_posts/#{blog_post.id}" %></h2>
    <p><%= blog_post.content %></p>
  </div>
<% end %>
